<section id="guest-index" class="index">
    <div class="index-banner">
        <div class="banner-mid-content">
            <div class="banner-greeting">
                <h1>Know your customer.</h1>
                <h3>MINE YOUR DATA. MIND YOUR BUSINESS.</h3>
                <%= link_to "CREATE YOUR ACCOUNT", new_user_registration_path, class: 'btn index-sing-up-btn' %>
            </div>
        </div>
    </div>
</section>


<section id="info">
    <div class="nav">
        <div class="info-tab">
            <div id="about">
            </div>
            <a>THE SERVICES</a>
        </div>
        <div class="info-tab">
            <div id="service">
            </div>
            <a>THE DATA</a>
        </div>
        <div class="info-tab">
            <div id="packages">
            </div>
             <a>THE PRICE</a>
        </div>
    </div>
</section>





