<div id="guest-home">
    <div class="section" id="welcome">
       <div class="welcome-content">
           <div class="top-header col-xs-12">
               <%= image_tag ("BeWise.png") %>
           </div>
           
            <div class="create-acct col-xs-12 ">
                <h1>Know your customers.</h1>
                <h3>MINE YOUR DATA. MIND YOUR BUSINESS.</h3>
                 <%= link_to "CREATE YOUR ACCOUNT", new_user_registration_path, class: 'btn create-acct-btn' %>
            </div>
           
           <div class="bottom-header col-xs-12">
               <%= image_tag ("UseBarweiser.png") %>
           </div>
       </div>
    </div>
    <div class="section" id="bottom"></div>
</div>





