<section id="guest-index" class="index">
    <div class="index-banner">
        <div class="banner-mid-content">
            <div class="banner-greeting">
                <h1>Know your customer.</h1>
                <h3>MINE YOUR DATA. MIND YOUR BUSINESS.</h3>
                <%= link_to "CREATE YOUR ACCOUNT", new_user_registration_path, class: 'btn index-sing-up-btn' %>
            </div>
        </div>
    </div>
</section>


<section id="info">
    <div class="nav">
       
            <div class="info-tab" id="about">
                THE SERVICE
            </div>
     
      
            <div class="info-tab" id="service">
                THE DATA
            </div>
      
    
            <div class="info-tab" id="packages">
                THE PRICE
            </div>
 
    </div>
</section>





