<div class="section" id="user-index">
    <div class="user-index-content">
        <div class="user-heading">
            <h1 class="text-center"><%= current_user.username.capitalize! %></h1>
        </div>

    <div class="user-index-content">
    </div>
</div>