/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

*, *:before, *:after {
-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

html, body {
    min-height: 100%;
    font-size: 100%;
    background: #000;
}

body {
    font-family: light,  'Roboto', sans-serif;
    height: auto;
    margin: 0;
}

a, label, h1, h2, h3, input  {
  letter-spacing: 0.1em;
  font-weight: 300;
}

h1, h2, h3 {
  color: #B6B6B4;
}

.navbar {
  background: 0 0;
  border: 0;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 90px;
}

.section {
  overflow-x: hidden;
  position: relative;
  width: 100%;
  height: 100vh;
  display: block;
}

.navbar .container-fluid {
  padding-left: 3%;
  padding-right: 3%;
}


.container-fluid .navbar-brand {
  height: 90px;
}

.navbar .container-fluid .navbar-brand > img {
  height: 100%;
  width: auto;
}

.container-fluid .navbar-sign-in {
  height: 90px;
}

.navbar .container-fluid .navbar-sign-in > a {
     margin-top: 30px;
     margin-bottom: auto;
}

.sign-in-btn {
  background-color:rgba(0, 0, 0, 0.5);
  font-size: 16px;
  border: 2px solid #fff;
  border-radius: 30px;
  width: 130px;
  color: #fff;
  float: right;
}

.content {
  position: relative;
  padding: 0;
  margin: 0;
  display: block;
  width: 100%;
}

.flash {
  position: absolute;
  top: 90px;
  width: 100%;
  z-index: 9999;
}




/* devise classes */
.devise-wrapper {
  margin-top: 110px;
  width: 100vw;
  height: auto;
  text-align: center;
}
.devise-form {
  display: block;
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

.new_user {
  color: white;
  font-weight: 300 !important;
}

.new_user .form-group > input  {
  width: 500px;
  background: none !important;
  background-color: none !important;
  outline: 0 !important;
  border-width: 0 0 2px 0 !important;
  border-color: #ccc !important;
  margin-bottom: 10px;
  padding-left: .5em;
}

.new_user .form-group > label  {
  visibility: hidden;
}

.field_with_errors > input  {
  width: 500px;
  background: none !important;
  background-color: rgba(255, 0, 0, 0.2) !important;
  outline: 0 !important;
  border-width: 2px !important;
  border-radius: 4px !important;
  border-color: rgba(255, 0, 0, 0.8) !important;
 
  margin-bottom: 10px;
}

.actions > a {
  width: 500px;
  margin: 30px auto;
}

.log-in-btn {
  background-color:rgba(0, 0, 0, 0.5);
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 30px;
  width: 300px;
  color: #ccc;
}

.sign-up-btn {
  background-color:rgba(0, 0, 0, 0.5);
  font-size: 16px;
  border: 2px solid #F6E43B;
  border-radius: 30px;
  width: 300px;
  color: #F6E43B;
}

.actions .log-in-btn >input {
  background-color:rgba(0, 0, 0, 0.5);
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 30px;
  width: 300px;
  color: #ccc;
}

.actions .sign-up-btn >input {
  background-color:rgba(0, 0, 0, 0.5);
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 30px;
  width: 300px;
  color: #ccc;
}


@media only screen and (max-width: 768px) {
  .navbar {
      height: 60px;  
    }
  .navbar .container-fluid .navbar-brand {
      height: 60px;
    }
    .container-fluid .navbar-sign-in {
      height: 60px;
      float: right;
    }
    .navbar .container-fluid .navbar-sign-in > a {
     margin-top: 15px;
     margin-bottom: auto;
     
    }
    .sign-in-btn {
      font-size: 14px;
      border-radius: 30px;
      width: 100px;
    }
}


