// Place all the styles related to the guest controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#guest-home {
  position: relative;
  height: auto;
  margin: 0;
}

.page {
  position: relative;
  width: 100%;
  height: 100vh;
}

.info {
  background: url(CityBars3D.png) no-repeat center center;
}

.image-bg {
  position: absolute;
  
  
}

.bottom {

  background: blue
}



