// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-index-content {
  position: relative;
  width: 100%;
  padding-left: 3%;
  padding-right: 3%;
}

.user-heading {
  font-family: 'Libre Barcode 39 Text', cursive;
  vertical-align: middle;
  font-size: 50px;
  padding: 15px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #B6B6B4;
  text-transform: uppercase;
}
